@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    height: 64px;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

p.logotext1 {
    font-size: 22px;
    font-weight: 500;
    color: rgb(86, 86, 86);
}

p.logotext2 {
    font-size: 22px;
    font-weight: 300;
    color: rgb(215, 215, 215);
}

.imglogo {
    height: 50px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navlist {
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
}

.navlistlink {
    text-decoration: none;
    color: #1e1e1e;
}

.hero {
    display: flex;
    padding: 32px 0px 32px 24px;
    background-color: rgb(225, 225, 225);
}

.hero__banner {
    width: 60%;
    height: auto;
}

.imgbanner {
    max-width: 95%;
    height: auto;
    object-fit: cover;
    display: block;
}

.hero__discription {
    width: 40%;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__discription__text1 {
    font-size: 60px;
    font-weight: 800px;
    margin-bottom: 24px;
    color: rgb(69, 69, 69);
}

.hero__discription__text2 {
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 24px;
    color: rgb(69, 69, 69);
}

.hero__discription__button {
    width: 80%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(69, 69, 69);
}

.information {
    display: flex;
    padding: 0px 0px 32px 24px;
    background-color: white;
}

.information__banner {
    width: 60%;
    height: auto;
    padding-top: 32px;
}

.imginformation {
    max-width: 95%;
    height: auto;
    object-fit: cover;
    display: block;
}

.information__rightbox {
    width: 40%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.information__rightbox__box {
    height: 30%;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.information_img {
    margin: 16px 16px 16px 16px;
    width: 35%;
    height: auto;
    object-fit: cover;
}

.information__rightbox__boxtext {
    display: flex;
    flex-direction: column;
}

.information__rightbox__box:hover {
    background-color: rgb(225, 225, 225);
}

.infoheadtext {
    font-size: 46px;
    font-weight: 800px;
    margin-top: 32px;
    margin-bottom: 24px;
    color: rgb(69, 69, 69);
}

.infotext {
    font-size: 16px;
    margin-bottom: 32px;
    color: rgb(69, 69, 69);
    font-weight: 300;
}

.infotext2 {
    font-size: 16px;
    margin-bottom: 24px;
    color: rgb(69, 69, 69);
    font-weight: 400;
}

.headtext {
    font-size: 24px;
    padding-bottom: 8px;
    color: rgb(69, 69, 69);
}

.textdis {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 8px;
    color: rgb(69, 69, 69);
}

.readmore {
    text-decoration: none;
    color: rgb(72, 154, 226);
    font-size: 16px;
    font-weight: 400;
}

.course {
    background-color: rgb(225, 225, 225);
}

.course_head_text {
    text-align: center;
    font-size: 46px;
    font-weight: 800px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: rgb(69, 69, 69);
}

.course__container {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 32px;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.course__contentbox {
    flex-grow: 1;
    flex-shrink: 1;
    width: 30%;
    background-color: white;

}

.course__img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.course__text {
    padding: 16px 16px 24px 16px;
}

.course__text__head {
    font-size: 32px;
    margin-bottom: 8px;
}

.course__text__p1 {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 300px;
}

.course__text__p2 {
    font-size: 22px;
    font-weight: 300px;
}